body {
  font-family: 'Zen Maru Gothic', serif;
}
h1 {
  color: white;
  background: maroon;
}
blockquote {
  color: black;
  background: wheat;
}
ul.width_150px {
  color: black;
  background: lavender;
  width: 150px;
}
section.git_config {
  width: 600px;
  color: white;
  background: black;
  overflow-x: scroll;
}
section.git_config p {
  width: 550px;
}
div.prog-lang {
  width: 220px;
  min-width: 220px;
  height: 90px;
  min-height: 90px;
  border-color: #ccc;
  border-style: inset;
/*  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px; */
}
.container {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.disp-flex {
  display-inside: flow;
}
.lang-btn {
  color: white;
  background: white;
  outline-
  width: 218px;
  min-width: 218px;
  height:88px;
}
.lang-btn:hover {
  cursor: pointer;
  border-color: yellow;
}
.lang-logo {
  vertical-align: middle;
}